a {
  &.btn {
    text-decoration: none;

    &--back {
      grid-row-start: header-start;
      grid-row-end: header-end;
      grid-column-start: center-start;
      grid-column-end: col-start;

      font-size: 1.4rem;
      color: var(--light-grey-1);

      align-self: center;
    }

    &--discreet {
      color: var(--dark-grey-2);
    }
  }

  &.link {
    color: var(--pink);

    &:focus,
    :active,
    :hover {
      color: var(--dark-pink);
    }
  }
}

input {
  &.invalid {
    border-color: var(--error-text);
  }
}

fieldset {
  border-color: var(--light-grey-4);
  margin: 0 auto;
  border-width: 0;
  border-top-width: 2px;
  width: 70%;
  padding-bottom: 1rem;
}

ul {
  padding: 0 2rem;

  > li {
    text-align: left;
    max-width: 80%;
    margin: 0 auto;

    &.clean {
      list-style: none;
    }

    &.center {
      text-align: center;
    }
  }
}

.highlight {
  color: var(--pink);
}

.bold {
  font-weight: bold;
}

.btn-set {
  padding-bottom: 3rem;

  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 1.5rem;
  justify-items: center;
}

.btn {
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: .8rem;
  border-style: none;
  padding: .6rem 0;
  width: 80%;
  background-color: var(--light-pink);
  color: var(--light-grey-1);
  box-shadow: var(--light-shadow);

  &:disabled {
    pointer-events: none;
    background-color: var(--dark-grey-2);
  }

  &:hover {
    background-color: var(--dark-pink);
    color: var(--light-grey-1);
    box-shadow: var(--dark-shadow);
    cursor: pointer;
  }

  &:active {
    transform: translateY(.2rem);
    background-color: var(--light-grey-4);
    color: var(--light-pink);
    box-shadow: var(--dark-shadow);
    cursor: pointer;
  }

  &--secondary {
    background-color: var(--light-grey-1);
    color: var(--pink);
    border-style: solid;
    border-color: var(--pink);
    padding: .6rem 1rem;

    width: 20%;
    min-width: min-content;

    &:hover,
    &:active {
      background-color: var(--light-grey-2);
      color: var(--dark-pink);
      border-color: var(--dark-pink);
    }
  }

  &--medium {
    width: 60%;
  }
}

.response-msg {
  align-self: start;
  padding: 0 1rem 1rem;

  &--error {
    color: var(--error-text);
  }

  &--success {
    color: var(--success-text);
  }
}

.status-icon {
  width: 4.5rem;
  height: 4.5rem;
}

.rotating {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
