<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rAPId - Download</title>
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>
<div class="content">
    {% with previous_page = "/download" %}
    {% include 'component/header.html' %}
    {% endwith %}

    <form class="form">
        <div class="form_body form_body--headed">
            <div class="form-select">
                <h1 class="content_header">Download</h1>
            </div>
            <div class="form-select">
                <h2 class="highlight">{{ domain }}/{{ dataset }}</h2>
            </div>
        </div>
        <div class="form_submit">
            <button class="btn" type="button" id='button-modify' onclick="">Download</button>
            <label class="response-msg" id="response-title"></label>
            <label class="response-msg" id="response"></label>
        </div>
    </form>
</div>
</body>
</html>
