<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>rAPId - Download</title>
    <link href="/static/main.css" rel="stylesheet"/>
</head>
<body>
<div class="content">
    {% with previous_page = "/download" %} {% include 'component/header.html'
    %} {% endwith %}

    <form class="form">
        <div class="form_body form_body--headed">
            <div class="form-select">
                <h1 class="content_header">Download</h1>
            </div>
            <table class="info-table dataset-info">
                <tr>
                    <td class="metric-label">Domain</td>
                    <td class="metric highlight bold">{{dataset_info.domain}}</td>
                </tr>
                <tr>
                    <td class="metric-label">Dataset</td>
                    <td class="metric highlight bold">{{dataset_info.dataset}}</td>
                </tr>
                <tr>
                    <td class="metric-label">Last updated</td>
                    <td class="metric">{{dataset_info.last_updated}}</td>
                </tr>
                <tr>
                    <td class="metric-label">Number of Rows</td>
                    <td class="metric">{{dataset_info.number_of_rows}}</td>
                </tr>
            </table>
            <h3>Columns</h3>
            <table class="info-table info-table--fixed-width">
                <tr>
                    <th class="first_col">Title</th>
                    <th>Data Type</th>
                    <th class="last_col">Allows Null</th>
                </tr>
                {% for column in dataset_info.columns %}
                <tr>
                    <td class="first_col">{{column.name}}</td>
                    <td>{{column.data_type}}</td>
                    <td class="last_col">{{column.allow_null}}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="form-select">
                <label class="form-select_label">Data format</label>
                <select class="form-select_dropdown" id="select_format">
                    <option value="csv">csv</option>
                    <option value="json">json</option>
                </select>
            </div>
        </div>
        <h4 class="response-msg--error" id="error-message"></h4>
        <div class="form_submit">
            <button class="btn" type="button" id='download-dataset'
                    onclick="downloadDataset('{{dataset_info.domain}}','{{dataset_info.dataset}}')">Download
            </button>
            <label class="response-msg" id="response-title"></label>
            <label class="response-msg" id="response"></label>
        </div>
    </form>
</div>
{% block javascript %}
<script type="text/javascript">
        {% include "./js/common.js" %}
        {% include "./js/dataset_download.js" %}


</script>
{% endblock %}
</body>
</html>
