<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>rAPId - Jobs</title>
    <link href="/static/main.css" rel="stylesheet"/>
</head>
<body>
<div class="content">
    {% with previous_page = "/" %} {% include 'component/header.html' %} {% endwith %}

    <form class="form">
        <div class="form_body form_body--headed">
            <div class="form-select">
                <h1 class="content_header">Jobs</h1>
            </div>
            <table class="info-table">
                <tr>
                    <td class="bold">Type</td>
                    <td class="bold">Domain</td>
                    <td class="bold">Dataset</td>
                    <td class="bold">Version</td>
                    <td class="bold">Status</td>
                    <td class="bold info-table--left">Step</td>
                    <td class="bold">Job ID</td>
                    <td class="bold"></td>
                </tr>
                {% for job in jobs %}
                    <tr>
                        <td>{{ job.type }}</td>
                        {% if job.domain %}
                            <td>{{ job.domain }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if job.dataset %}
                            <td>{{ job.dataset }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if job.version %}
                            <td>{{ job.version }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if job.status == "SUCCESS" %}
                            <td class="info-table_status-container">
                                <img class="info-table_status-icon" src="/static/icons/success.svg" alt="success">
                            </td>
                        {% elif job.status == "FAILED" %}
                            <td class="info-table_status-container">
                                <img class="info-table_status-icon" src="/static/icons/failure.svg" alt="success">
                            </td>
                        {% elif job.status == "IN PROGRESS" %}
                            <td class="info-table_status-container">
                                <img class="info-table_status-icon" src="/static/icons/in_progress.svg" alt="success">
                            </td>
                        {% endif %}
                        <td class="info-table--left">{{ job.step }}</td>
                        <td><a class="btn--discreet" href="/tasks/{{ job.job_id }}">{{ job.job_id }}</a></td>
                        <td>
                            {% if job.errors %}
                                <a href="/tasks/{{ job.job_id }}">Failure details</a>
                            {% elif job.result_url %}
                                <a href="{{ job.result_url }}">Get results</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </form>
</div>
{% block javascript %}
    <script type="text/javascript">
        {% include "./js/common.js" %}
    </script>
{% endblock %}
</body>
</html>
