<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rAPId - Create Subject</title>
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>
<div class="content">
    {% with previous_page = "/" %}
    {% include 'component/header.html' %}
    {% endwith %}

    <form class="form">
        <div class="form_body form_body--headed" id="create_form">
            <h1 class="content_header">Create a subject</h1>
            <h3 class="content-step-indicator">Step 1: Populate subject info</h3>
            <div class="form-select">
                <label class="form-select_label">Type of subject</label>
                <select class="form-select_dropdown" id="select_subject">
                    <option value="">Please select</option>
                    <option value="USER">User</option>
                    <option value="CLIENT">Client</option>
                </select>
            </div>
            <div class="form-input">
                <label class="form-input_label" for="name">Name</label>
                <input class="form-input_text" name="name" id="name" type="text">
            </div>
            <div class="form-input" id="email_input">
                <label class="form-input_label" for="email">Email</label>
                <input class="form-input_text" name="email" id="email" type="email">
            </div>
            <h3 class="content-step-indicator">Step 2: Select permissions</h3>
            {% with permissions = permissions["ADMIN"], legend_text = "Management permissions", checkbox_name="ADMIN" %}
                {% include 'component/permissions/checkboxes.html' %}
            {% endwith %}
                {% with permissions = permissions["GLOBAL_READ"], legend_text = "Global read permissions",
            radio_name="GLOBAL_READ" %}
            {% include 'component/permissions/radios.html' %}
            {% endwith %}
                {% with permissions = permissions["GLOBAL_WRITE"], legend_text = "Global write permissions",
            radio_name="GLOBAL_WRITE" %}
                {% include 'component/permissions/radios.html' %}
            {% endwith %}
            {% with permissions = permissions["PROTECTED_READ"], legend_text = "Read protected permissions", checkbox_name="READ_PROTECTED" %}
                {% include 'component/permissions/checkboxes.html' %}
            {% endwith %}
            {% with permissions = permissions["PROTECTED_WRITE"], legend_text = "Write protected permissions", checkbox_name="WRITE_PROTECTED" %}
                {% include 'component/permissions/checkboxes.html' %}
            {% endwith %}
        </div>
        <h4 hidden class="response-msg--error" id="error-message"></h4>
        <div class="form_submit" id="submit_form">
            <button class="btn" type="button" onclick="create_subject()">Create subject</button>
        </div>

        <div id="success">
        </div>
    </form>
</div>
{% block javascript %}
<script type="text/javascript">
        {% include "./js/common.js" %}
        {% include "./js/subject_create.js" %}
</script>
{% endblock %}
</body>
</html>
