<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rAPId - Select Subject</title>
    <link href="static/main.css" rel="stylesheet">
</head>
<body>
<div class="content">
    {% with previous_page = "/" %}
    {% include 'component/header.html' %}
    {% endwith %}

    <form class="form">
        <div class="form_body form_body--headed">
            <div class="form-select">
                <h1 class="content_header">Modify Subject</h1>
                <h3 class="content-step-indicator">Step 1 of 2</h3>
            </div>
            <div class="form-select">
                <label class="form-select_label" for="select_subject">Select subject</label>
                <select class="form-select_dropdown" id="select_subject">
                    <option value="" disabled selected hidden>Please select a Client App or User...</option>
                    {% for group, subject_list in subjects.items() %}
                     <optgroup label="{{group}}">
                         {% for subject in subject_list %}
                        <option value="{{subject['subject_id']}}">{{subject['subject_name']}}</option>
                         {% endfor %}
                     </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form_submit">
            <button class="btn" type="button" id='button-modify' disabled onclick="goToNextStep()">Next</button>
            <label class="response-msg" id="response-title"></label>
            <label class="response-msg" id="response"></label>
        </div>
    </form>
</div>
{% block javascript %}
<script type="text/javascript">
            {% include "./js/subject.js" %}
</script>
{% endblock %}
</body>
</html>
