<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rAPId - Success</title>
    <link href="../../../static/main.css" rel="stylesheet">
</head>
<body>
<div class="content">
    {% with previous_page = "/" %}
    {% include 'component/header.html' %}
    {% endwith %}
    {% with error_message = error_message, subject_name = subject_name, subject_permissions_display_names = subject_permissions_display_names%}
    {% include 'component/success.html' %}
    {% endwith %}
</div>
</body>
</html>
