<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rAPId - Success</title>
    <link href="../../../static/main.css" rel="stylesheet">
</head>
<body>
<div class="content">
    {% with previous_page = "/" %}
    {% include 'component/header.html' %}
    {% endwith %}
    <form class="form">
        <div class="form_body">
            {% if error_message %}
            <h1 class="content_header">Error</h1>
            <p><span class="response-msg--error">{{ error_message }}</span></p>
            {% else %}
            <h1 class="content_header">Success</h1>
            <h2>Permissions modified for <span class="highlight">{{ subject_name }}</span></h2>
            <ul>
                {%for permission in subject_permissions_display_names%}
                <li class="clean center">{{permission}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </form>
</div>
</body>
</html>
